*{
	box sizing : border-box;
    margin :0;
    padding: 0;
}

h1{
	color:solid black;
	font-weight: bold;
	text-align: center;
	font-family: helvetica;
	font-size: 250%;
	margin:20px;
}

@media (min-width: 992px)
{
	
#b{
	width: 500px;
	height: 500px;
	background-color: grey;
	font-size: 20;
	border: 1px solid black;
	margin: 10px;
 }
 #u1{
 	width: 150px;
 	height: 40px;
 	background-color: red;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
 }
 #u2{
 	width: 150px;
 	height: 40px;
 	background-color: orange;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
}
#u3{
 	width: 150px;
 	height: 40px;
 	background-color: Green;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
 }
 #t{
 	text-align: center;
 	margin-top: 55px;
 }
}
@media (min-width: 768px),(max-width: 991)
	{ 	
	#b{
	width: 500px;
	height: 500px;
	background-color: grey;
	font-size: 20;
	border: 1px solid black;
	margin: 10px;
 }
 #u1{
 	width: 150px;
 	height: 40px;
 	background-color: red;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
 }
 #u2{
 	width: 150px;
 	height: 40px;
 	background-color: orange;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
}
#u3{
 	width: 150px;
 	height: 40px;
 	background-color: Green;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
 }
 #t{
 	text-align: center;
 	margin-top: 55px;
 }
}
@media (max-width: 767px)
{
	#b{
	width: 500px;
	height: 500px;
	background-color: grey;
	font-size: 20;
	border: 1px solid black;
	margin: 10px;
 }
 #u1{
 	width: 150px;
 	height: 40px;
 	background-color: red;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
 }
 #u2{
 	width: 150px;
 	height: 40px;
 	background-color: orange;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
}
#u3{
 	width: 150px;
 	height: 40px;
 	background-color: Green;
 	border: 1px solid black;
 	font-size: 30px;
    text-align: center;
 	float: right;
 	clear: both;
 }
 #t{
 	text-align: center;
 	margin-top: 55px;
 }
}