body
{
	background-color:black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
H1
{
	text-shadow: 2px 2px 5px red;
	color:navy;
	font-size:40px;
	text-align:center;
	font-family:verdana;
}
h3
{
	text-shadow: 2px 2px 5px red;
	color:navy;
	font-size:35px;
	text-align:left;
	font-family:verdana;
}
h2{
	color:powderblue;
	text-shadow: 2px 2px 5px red;
	text-decoration:underline;
}
.p1
{
	font-size:30px;
	color:powderblue;
}
.p2
{
	font-size:25px;
	color:white;
}

table
{
	margin-right:1050px;
	border:5px solid navy;
	width:30%;
	text-shadow: 2px 2px 5px navy;

}
td{
	
	border: 1px solid blue;
	color:white;
	text-align:left;
	padding: 8px;
	
}
th
{
	
	border:4px solid blue;
	color:white;
}

